---
layout: base
title: Explore Tracks
permalink: /explore/
pagination:
  enabled: true
  per_page: 16
  permalink: /explore/page/:num/
---



<div class="container my-5">
  <h2 class="mb-4">Recent Posts</h2>
  <div class="row g-4">
    {% for post in paginator.posts %}
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card h-100">
          {% if post.image %}
            <img src="{{ post.image | relative_url }}" class="card-img-top" alt="{{ post.title }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.excerpt | strip_html | truncate: 100 }}</p>
            <a href="{{ post.url | relative_url }}" class="btn btn-sm btn-primary">Read More</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
    <nav class="mt-5">
      <ul class="pagination justify-content-center">
        {% if paginator.previous_page %}
          <li class="page-item">
            <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
          </li>
        {% endif %}

        <li class="page-item disabled">
          <span class="page-link">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        </li>

        {% if paginator.next_page %}
          <li class="page-item">
            <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>

<hr/>
<div class="container my-5 d-none">
  <h2 class="mb-4">Featured Cards</h2>
  <div class="row g-4">
    {% for card in site.data.cards %}
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <img src="{{ card.image }}" class="card-img-top" alt="{{ card.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
